@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?71866832');
  src: url('../font/fontello.eot?71866832#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?71866832') format('woff2'),
       url('../font/fontello.woff?71866832') format('woff'),
       url('../font/fontello.ttf?71866832') format('truetype'),
       url('../font/fontello.svg?71866832#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?71866832#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-twitch:before { content: '\e800';font-size: 180px; margin-top:100px;} /* '' */
.icon-facebook:before { content: '\e801';font-size: 180px;margin-top: 100px; } /* '' */
.icon-github-circled:before { content: '\e802';font-size: 180px;margin-top: 100px; } /* '' */
.icon-youtube:before { content: '\e803'; font-size: 180px;margin-top: 100px; } /* '' */
.icon-html5:before { content: '\e804'; font-size: 50px; vertical-align: middle; line-height: 20px; } /* '' */
.icon-css3:before { content: '\e805'; font-size: 50px; vertical-align: middle; line-height: 20px; } /* '' */
.icon-ie:before { content: '\e806'; } /* '' */
.icon-chrome:before { content: '\e807'; } /* '' */
.icon-firefox:before { content: '\e808'; } /* '' */
.icon-opera:before { content: '\e809'; } /* '' */
.icon-ie-1:before { content: '\e80a'; } /* '' */