body
{
	background-color: #fff;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	margin: 0 !important;
}
#container
{
	margin-left: auto;
	margin-right: auto;
}
#logo
{
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	min-height: 160px;
	text-align: center;
	letter-spacing: 8px;
	text-transform: uppercase;
	padding-top: 40px;
	font-size: 80px;
	font-weight: 600;
}
#logo img
{
    width: 850px;
}
#nav
{
    width: 100%;
    min-height: 20px;
    background-color: #eee;
    text-align: center;
}
ol
{
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    list-style-type: none;
    display:inline-block; 
    font-size: 30px;
}
ol > li
{
    text-align: center;
    background-color: #fff;
    float: left;
    margin-top: 6px;
    min-height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    width: 366px;
}

ol > li:hover
{
    background-color: #ccc;
}
ol > li a
{
    padding: 10px;
    text-decoration: none;
    display: block;
}
ol > li a:hover
{
    background-color: #ccc;
}
ol > li a:visited
{
    color: black;
}
ol > li a:link
{
    color: black;
}
#content
{
	width: 1160px;
	padding: 20px;
	background-color: #eee;
	margin-top: 10px;
	text-align: center;
	min-height: 200px;
	margin-left:auto;
	margin-right: auto;
}
#footer
{
	width: 100%-40px;
	background-color: #eee;
	margin-top: 10px;
	padding: 20px;
	text-align: center;
}
#youtube, #facebook, #github, #twitch
{
	width: 270px;
	height: 388px;
	background-color: #ddd;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
#youtube:hover
{
	background-color: #b31217;
    transition: background-color .1s ease-in;
}

#facebook:hover
{
	background-color:#3B5998;
    transition: background-color .1s ease-in;
}
#github:hover
{
	background-color: #4078c0; 
    transition: background-color .1s ease-in;
}
#twitch:hover
{
	background-color: #6441A5;
    transition: background-color .1s ease-in;
    color: #FFF;
}
#twitch a, #facebook a, #youtube a, #github a
{
	height: 100%;
	display:block;
}
#twitch a:hover, #facebook a:hover, #youtube a:hover, #github a:hover
{
    color: #FFF;
}
a.social:link 
{
    color: black;
}
a.social:visited
{
	color:black;
}
#html-footer, #comp
{
    min-height: 50px;
    width: 1100px;
    padding:20px;
    margin-top: 10px;
    background-color: #ddd;
    margin-left: auto;
    margin-right: auto;
}
#html-footer:hover, #comp:hover
{
    background-color: #ccc;
    border: 3px solid #aaa;
    width: 1094px;
    min-height;: 44px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-top: 11px;
    
}
#version
{
    background-color: #ddd;
    width: 1100px;
    padding: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
#version:hover
{
    animation: kolorki 2s linear infinite;
}
span.achtung
{
    font-size: 35px;
    font-weight: 600;
}
span.html5
{
    font-size: 35px;
    font-weight: 600;
}
#overfooter
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    background-color: #eee;
    height: 100px;
    
}
#overfooter > img
{
    margin: 0 auto;
    width: 100px;
    animation-name: kappafooter;
    animation: spin 2s linear infinite;
    
}
#overfooter > img:hover
{
    animation: spin 0.3s linear infinite;
}

@keyframes spin
 {
	100% { transform: rotate(360deg);
	transform:rotate(360deg); }
}
#spanfooter
{
    margin: 0 auto;
    color: inherit;
    width: 250px;
    min-height: 10px;
}
#spanfooter:hover
{
    animation: kolorki 7s linear infinite;
    
   
}
@keyframes kolorki 
{
  0%   { color: #000000; }
  12%   { color: red; }
  25%   { color: orange; }
  37%   { color: yellow; }
  50%   { color: green; }
  52%   { color: lightblue; }
  75%   { color: blue; }
  87%  { color: darkblue; }
  100% { color: #000000; }
}